NODE_ENV=development

PORT=3000

DB_HOST=localhost
DB_PORT=5433
DB_NAME=sportspro
DB_USER=sportspro_user
DB_PASSWORD=sportspro_password
DB_SCHEMA=sportspro

INSTANCE_NAME=local

JWT_ACCESS_SECRET=your_access_secret_here
JWT_REFRESH_SECRET=your_refresh_secret_here

JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=7d
