extends ../layouts/default.pug

include ../mixins/customer-form.pug

block content
  .main-panel
    .form-panel
      h3 View/Update Customer

      form#customer-edit-form(data-customer-id=customer.customerId)
        +customerForm(customer, countries)

        .button-group
          button.btn.btn-primary(type="submit") Save Changes
          a.btn.btn-secondary(href="/customers") Cancel

block scripts
  script(src="/js/customer-edit.js" type="module")
