extends ../layouts/default.pug

include ../mixins/product-form.pug

block content
  .main-panel
    .form-panel
      h3 Add Product

      form#product-create-form
        +productForm({}, false)

        button.btn.btn-primary(type="submit") Add Product
        a.btn.btn-danger(href="/products") Cancel

block scripts
  script(src="/js/product-create.js" defer)
